<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <i class="fas fa-paw"></i>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

<!-- Última versão CSS compilada e minificada -->

        <style type="text/css">
            body {background-color:rgb(255, 47, 220);}

            #menulogin ul li { display: inline; }  
            #menu_form ul li { display: inline; }  

            #menulogin {float:right;}   
            #menu_form {float: left;}    
            
             

        </style>

    </head>

    <body>

        <header>

            <h3>
                Menu de Formulários!
            </h3>

            <section id="menulogin">
                <ul>
                    <li><a href="/">Início</a></li>                    
                    <li><a href="/login">Login</a></li>                    
                    <li><a href="/logout">Logout</a></li>
                </ul>                
    
            </section>
    
            <section id="menu_form">
                <ul>
                    <li><a href="/pessoas/listar">Listar Pessoas</a></li>                    
                    <li><a href="/pessoas/novo">Cadastrar Pessoas</a></li>
                </ul>                
    
            </section>
    
    
        </header>



        <section>

        <footer id="rodape">

        </footer>

    </body>
</html>